<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>影视</key>
	<dict>
		<key>兴趣爱好</key>
		<dict>
			<key>商业片</key>
			<dict/>
			<key>纪录片</key>
			<dict/>
			<key>文艺片</key>
			<dict/>
			<key>剧情片</key>
			<dict/>
			<key>喜剧片</key>
			<dict/>
			<key>动作片</key>
			<dict/>
			<key>爱情片</key>
			<dict/>
			<key>犯罪片</key>
			<dict/>
			<key>冒险片</key>
			<dict/>
			<key>战争片</key>
			<dict/>
			<key>惊悚片</key>
			<dict/>
			<key>奇幻片</key>
			<dict/>
			<key>历史片</key>
			<dict/>
			<key>武侠片</key>
			<dict/>
			<key>传记</key>
			<dict/>
			<key>恐怖片</key>
			<dict/>
		</dict>
		<key>工作者</key>
		<dict>
			<key>电影投资人</key>
			<dict/>
			<key>制片人</key>
			<dict/>
			<key>导演</key>
			<dict/>
			<key>编剧</key>
			<dict/>
			<key>演员</key>
			<dict/>
			<key>摄像录制</key>
			<dict/>
			<key>配乐录音</key>
			<dict/>
			<key>特技特效</key>
			<dict/>
			<key>灯光烟火</key>
			<dict/>
			<key>剪辑</key>
			<dict/>
			<key>宣传发行</key>
			<dict/>
			<key>服装道具</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
	</dict>
	<key>文学</key>
	<dict>
		<key>兴趣爱好</key>
		<dict>
			<key>小说</key>
			<dict/>
			<key>散文</key>
			<dict/>
			<key>诗歌</key>
			<dict/>
			<key>传记</key>
			<dict/>
			<key>剧作家</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
		<key>工作者</key>
		<dict>
			<key>相关从业人员</key>
			<dict>
				<key>文学批评家</key>
				<dict/>
				<key>文学编辑</key>
				<dict/>
				<key>出版</key>
				<dict/>
				<key>发行</key>
				<dict/>
				<key>教师</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
			<key>作家</key>
			<dict>
				<key>小说</key>
				<dict/>
				<key>散文</key>
				<dict/>
				<key>诗歌</key>
				<dict/>
				<key>传记</key>
				<dict/>
				<key>剧作家</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
		</dict>
	</dict>
	<key>艺术</key>
	<dict>
		<key>兴趣爱好</key>
		<dict>
			<key>绘画</key>
			<dict/>
			<key>摄影</key>
			<dict/>
			<key>行为艺术</key>
			<dict/>
			<key>书法与篆刻</key>
			<dict/>
			<key>民间艺术</key>
			<dict/>
			<key>新媒体艺术</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
		<key>工作者</key>
		<dict>
			<key>收藏家</key>
			<dict>
				<key>文物类</key>
				<dict/>
				<key>书画类</key>
				<dict/>
				<key>玉器类</key>
				<dict/>
				<key>珠宝类</key>
				<dict/>
				<key>钱币类</key>
				<dict/>
				<key>文献类</key>
				<dict/>
				<key>票卷类</key>
				<dict/>
				<key>模型类</key>
				<dict/>
				<key>徽章类</key>
				<dict/>
				<key>商标类</key>
				<dict/>
				<key>标本类</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
			<key>艺术家</key>
			<dict>
				<key>画家</key>
				<dict/>
				<key>雕塑家</key>
				<dict/>
				<key>摄影家</key>
				<dict/>
				<key>书法家</key>
				<dict/>
				<key>篆刻</key>
				<dict/>
				<key>当代艺术家</key>
				<dict/>
				<key>行为艺术家</key>
				<dict/>
				<key>新媒体艺术家</key>
				<dict/>
				<key>摄像艺术家</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
			<key>经营者</key>
			<dict>
				<key>画廊</key>
				<dict/>
				<key>艺术经纪人</key>
				<dict/>
				<key>拍卖</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
			<key>艺术批评家</key>
			<dict/>
			<key>艺术史学家</key>
			<dict/>
			<key>馆长</key>
			<dict/>
			<key>策展人</key>
			<dict/>
			<key>艺术媒体人</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
	</dict>
	<key>设计</key>
	<dict>
		<key>兴趣爱好</key>
		<dict>
			<key>建筑设计</key>
			<dict/>
			<key>室内设计</key>
			<dict/>
			<key>工业设计</key>
			<dict/>
			<key>服装设计</key>
			<dict/>
			<key>园林设计</key>
			<dict/>
			<key>平面设计</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
		<key>工作者</key>
		<dict>
			<key>建筑设计</key>
			<dict/>
			<key>室内设计</key>
			<dict/>
			<key>工业设计</key>
			<dict/>
			<key>服装设计</key>
			<dict/>
			<key>园林设计</key>
			<dict/>
			<key>平面设计</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
	</dict>
	<key>音乐</key>
	<dict>
		<key>兴趣爱好</key>
		<dict>
			<key>流行</key>
			<dict/>
			<key>摇滚</key>
			<dict/>
			<key>电子</key>
			<dict/>
			<key>古典</key>
			<dict/>
			<key>日韩</key>
			<dict/>
			<key>欧美</key>
			<dict/>
			<key>民谣</key>
			<dict/>
			<key>嘻哈</key>
			<dict/>
			<key>爵士</key>
			<dict/>
			<key>布鲁斯</key>
			<dict/>
			<key>金属</key>
			<dict/>
			<key>轻音乐</key>
			<dict/>
			<key>60年代</key>
			<dict/>
			<key>80年代</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
		<key>工作者</key>
		<dict>
			<key>作曲</key>
			<dict/>
			<key>指挥</key>
			<dict/>
			<key>欧美乐器演奏者</key>
			<dict/>
			<key>民族乐器演奏者</key>
			<dict/>
			<key>美声演唱</key>
			<dict/>
			<key>流行演唱</key>
			<dict/>
			<key>民族演唱</key>
			<dict/>
			<key>爵士音乐人</key>
			<dict/>
			<key>摇滚音乐人</key>
			<dict/>
			<key>民谣音乐人</key>
			<dict/>
			<key>电子音乐人</key>
			<dict/>
			<key>录音配器</key>
			<dict/>
			<key>演出经纪人</key>
			<dict/>
			<key>出版发行</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
	</dict>
	<key>表演</key>
	<dict>
		<key>兴趣爱好</key>
		<dict>
			<key>戏剧</key>
			<dict>
				<key>话剧</key>
				<dict/>
				<key>歌剧</key>
				<dict/>
				<key>舞剧</key>
				<dict/>
				<key>音乐剧</key>
				<dict/>
				<key>京剧</key>
				<dict/>
				<key>地方戏剧</key>
				<dict/>
				<key>儿童剧</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
			<key>舞蹈</key>
			<dict>
				<key>古典舞</key>
				<dict/>
				<key>芭蕾舞</key>
				<dict/>
				<key>民族舞</key>
				<dict/>
				<key>现代舞</key>
				<dict/>
				<key>民间舞</key>
				<dict/>
				<key>踢踏舞</key>
				<dict/>
				<key>爵士舞</key>
				<dict/>
				<key>拉丁舞</key>
				<dict/>
				<key>摩登舞</key>
				<dict/>
				<key>其它</key>
				<dict/>
			</dict>
			<key>曲艺</key>
			<dict/>
			<key>杂技</key>
			<dict/>
		</dict>
		<key>工作者</key>
		<dict>
			<key>服装</key>
			<dict/>
			<key>道具</key>
			<dict/>
			<key>编剧</key>
			<dict/>
			<key>演员</key>
			<dict/>
			<key>舞蹈老师</key>
			<dict/>
			<key>戏剧家</key>
			<dict/>
			<key>其它</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
