<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>文化场所</key>
	<dict>
		<key>演唱会</key>
		<dict/>
		<key>戏剧演出</key>
		<dict/>
		<key>歌剧舞剧</key>
		<dict/>
		<key>舞蹈芭蕾</key>
		<dict/>
		<key>音乐会</key>
		<dict/>
		<key>休闲展览</key>
		<dict/>
		<key>电影院</key>
		<dict/>
	</dict>
	<key>文化消费</key>
	<dict>
		<key>按摩足疗</key>
		<dict/>
		<key>洗浴汗蒸</key>
		<dict/>
		<key>KTV</key>
		<dict/>
		<key>酒吧</key>
		<dict>
			<key>夜店</key>
			<string></string>
			<key>清吧</key>
			<string></string>
			<key>闹吧</key>
			<string></string>
			<key>live House</key>
			<string></string>
		</dict>
		<key>运动健身</key>
		<dict>
			<key>健身中心</key>
			<string></string>
			<key>游泳</key>
			<string></string>
			<key>羽毛球</key>
			<string></string>
			<key>篮球</key>
			<string></string>
			<key>网球</key>
			<string></string>
			<key>高尔夫</key>
			<string></string>
			<key>保龄球</key>
			<string></string>
			<key>台球</key>
			<string></string>
			<key>足球</key>
			<string></string>
		</dict>
		<key>轰趴馆</key>
		<dict/>
		<key>采摘农家乐</key>
		<dict/>
		<key>DIV手工坊</key>
		<dict/>
		<key>电玩游戏厅</key>
		<dict/>
		<key>茶馆</key>
		<dict/>
		<key>桌游</key>
		<dict/>
		<key>私人影院</key>
		<dict/>
	</dict>
</dict>
</plist>
